[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GrapheR"]
	path = GrapheR
	url = https://github.com/cran/GrapheR
[submodule "RVAideMemoire"]
	path = RVAideMemoire
	url = https://github.com/cran/RVAideMemoire
